     .slider {
         height: 500px;
     }
     
     .slider img {
         height: 40%;
         width: auto;
     }
     
     .parallax-container {
         height: 250px;
     }
     
     .parallax img {
         filter: grayscale(1);
         text-shadow: 2px 2px 2px black;
         opacity: 0.5 !important;
     }
     
     .client img {
         max-width: 100px;
         box-shadow: 1px 1px 1px black;
         max-height: 30px;
     }
     
     #services {
         padding: 20px 0;
     }
     
     .brand-logo {
         font-family: 'Viga', sans-serif;
     }
     
     .letra {
         font-family: 'Mochiy Pop One', sans-serif;
         font-family: 'Viga', sans-serif;
     }
     
     section,
     footer {
         padding: 20px 0;
     }